@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body
{
    background-color: #111217;
    font-family: 'Inter';
}

.wrapper
{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}


.title
{
    width: 100%;
    margin: auto;
    border:1px solid #2E3136;
    background-color: #181B1F;
    border-radius: 3px;
    margin-top: 30px;
    height: auto;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: aliceblue;
    font-weight: 100;
}

.grid-7030
{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}

